<div class="row">
  <div class="col-md-4">
    <h3>Files to upload</h3>
    <div
      appNgDropFiles
      [files] = "files"
      (mouseHover)="isHoverDrop = $event"
      [ngClass]="{ 'file-over': isHoverDrop }"
      class="well drop-zone"
    >
      <h4>Drop here your files</h4>
      <img src="assets/drop-images.png" />
    </div>
  </div>
  <div class="col-md-8">
    <h4>Upload files</h4>
    <button
      (click)="uploadImages()"
      [disabled]="files.length === 0"
      type="button"
      class="btn btn-outline-primary mr-3"
    >
      Upload to firebase
    </button>
    <button (click)="cleanFiles()" type="button" class="btn btn-outline-danger">Clean</button>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Size</th>
        <th>Progress</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let image of files">
        <td scope="row">{{ image.fileName }}</td>
        <td>{{ image.file.size / 1024 / 1024 | number: '.2-2'}} MB</td>
        <td>
          <div class="progress">
            <div
              class="progress-bar"
              role="progressbar"
              [ngStyle]="{'with': image.progress + '%'}"
            ></div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
